.listing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.listing-container h2 {
  margin-bottom: 10px;
}

.image-price-container {
  display: flex;
  align-items: flex-start;
  margin-left: auto; /* Shift container to the right */
}

.listing-namex {
  color: black;
  margin: 0;
}

.fa-solid.fa-person-seat {
  font-family: $body-font;
  margin: 15px;
}

.price-container {
  background-color: #F7F7F7;
  border: 1px solid #E2E2E2;
  padding: 20px;
  border-radius: 4px;
  margin-left: 20px;
}

.price-container p {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
}

.btn.button.deletelisting:hover {
  background-color: #465d45;
  color: white;
}
.btn.button.booklisting {
  background-color: #FF5C00;
}
.btn.button.booklisting:hover {
  background-color: #d64f00;
  color: white;
}

.price-container .btn {
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: #FF5A5F;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  text-decoration: none;
  margin-top: 10px;
}

.price-container .btn:hover {
  background-color: #E64952;
}

.container-show {
  height: 700px;
  background-color: #D9D9D9;
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
}


.container-listing-indv {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerimagelisting {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-right: 0px;
}

.carousel-inner {
  width: 700px;
}

.carousel-item img {
  height: 700px;
  width: 100%;
  object-fit: fill;
}


.containerblackshow {
  height: 700px;
  background-color: black;
  color: white;
  display: flex;
}

.listing-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.listing-details h2 {
  margin-bottom: 10px;
}

.map-container {
  flex: 1;
  height: 100%;
}


.homeandback {
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute; /* Position the buttons */
  top: 10px; /* Distance from the top */
  left: 10px; /* Distance from the left */
}

.homeandback .btn {
  margin-right: 10px;
}

.deletelisting {
  margin-top: 20px;
}

.deletelisting:hover {
  background-color: #465d45;
}

.fa-sharp.fa-solid.fa-location-dot {
  margin-right: 9px;

}
