.listing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.listing-container h2 {
  margin-bottom: 10px;
}

.image-price-container {
  display: flex;
  align-items: flex-start;
  margin-left: auto; /* Shift container to the right */
}

.price-container {
  background-color: #F7F7F7;
  border: 1px solid #E2E2E2;
  padding: 20px;
  border-radius: 4px;
  margin-left: 20px;
}

.price-container p {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
}

.price-container .btn {
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: #FF5A5F;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  text-decoration: none;
  margin-top: 10px;
}

.price-container .btn:hover {
  background-color: #E64952;
}

.container-show {
  height: 700px;
  background-color: #D9D9D9;
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
}


.container-listing-indv {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerimagelisting {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-right: 0px;
}

.carousel-inner {
  width: 700px;
}

.carousel-item img {
  height: 700px;
  width: 100%;
  object-fit: fill;
}


.containerblackshow {
  height: 700px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: left;
}

.homeandback {
  height: 40px;
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;

}

.homeandback .btn {
  margin-right: 10px;
}
