<footer class="footer">
  <div class="textbox">
    <h3 class="title">Support</h3>
    <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>  </div>
  <div class="textbox">
    <h3 class="title">Community</h3>
    <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="textbox">
    <h3 class="title">Manage your Stadium</h3>
    <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="textbox">
    <h3 class="title">RENTSTA</h3>
    <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="logo">
    <h3>   RENTSTA</h3>
  </div>
</footer>
