<footer class="footer">
  <div class="container">
    <div class="textbox">
      <h3 class="title">Support</h3>
      <p>At RENTSTA, we are dedicated to providing exceptional support to both stadium owners and renters. Our friendly and knowledgeable team is available 24/7.</p>
    </div>
    <div class="textbox">
      <h3 class="title">Community</h3>
      <p>Join our vibrant community of stadium enthusiasts through our platform and connect with like-minded individuals who share your passion for the game.</p>
    </div>
    <div class="textbox">
      <h3 class="title">Manage your Stadium</h3>
      <p>With RENTSTA, managing your football stadium has never been easier. Our user-friendly platform empowers stadium owners to take control of their listings</p>
    </div>
    <div class="textbox">
      <h3 class="title">RENTSTA</h3>
      <p>Whether you're a stadium owner looking to maximize your venue's potential or a passionate fan in search of a unique stadium experience, RENTSTA has you covered.</p>
    </div>
  </div>
  <div class="logo">
    <h3>RENTSTA</h3>
  </div>
</footer>
