<footer class="footer">
  <div class="textbox">
    <h3 class="title">Textbox 1</h3>
    <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="textbox">
    <h3 class="title">Textbox 2</h3>
    <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="textbox">
    <h3 class="title">Textbox 3</h3>
    <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="textbox">
    <h3 class="title">Textbox 4</h3>
    <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="logo">
    <h1>RENTSTA</h1>
  </div>
</footer>
