<div class="containerconfirmation">
  <div class="bannerconfirmation h-700" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @listing.photos.first.key %>);">
    <div class="text-container-confirmation">
      <h1>THANK YOU FOR BOOKING WITH RENTSTA!</h1>
    </div>
  </div>
  <div>
    <div class="containerbelowconfirmation">
      <h2>Please consider the following things before</h2>
      <h2>arriving at the <%= @booking.listing.name %></h2>
    </div>
    <div class="container-9">
      <div class="considerations">
        <div class="consideration">
          <div class="card">
            <h5>Behaviour</h5>
            <p>When renting a football stadium, it is of utmost importance to exhibit appropriate behavior, showing respect and consideration towards fellow attendees, the venue itself, and the surrounding community, as this not only ensures a safe and enjoyable experience for all, but also helps in preserving the stadium's integrity for future events.</p>
          </div>
        </div>
        <div class="consideration">
          <div class="card">
            <h5>Respect</h5>
            <p>Demonstrating respect towards the dedicated staff working at the stadium is not only a matter of common courtesy, but it also plays a pivotal role in fostering a positive atmosphere during your event, as their expertise and assistance contribute significantly to the smooth operation and success of the occasion.</p>
          </div>
        </div>
        <div class="consideration">
          <div class="card">
            <h5>Rules</h5>
            <p>To ensure a well-organized and pleasant experience while renting a stadium, it is imperative to adhere to a set of rules, which may include maintaining cleanliness by disposing of trash in designated bins, refraining from causing any damage to the property or equipment, and obediently following the instructions provided by the venue staff, all of which collectively contribute to creating a harmonious environment for everyone involved.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
