<div class="w-100 d-flex imagemain">
  <div class="w-50 d-flex justify-content-center">
    <div class="text-container">
      <h1 class="findstadiumnear" style="color: black;"><strong>FIND STADIUMS NEAR YOU</strong></h1>
      <p class="discovertext">Discover thousands of unique event venues for rent perfect for your event.</p>
      <%= simple_form_for :search, url: listings_path, method: :get, html: { class: "search-form" } do |f| %>
        <div class="input-group">
          <div class="input-group-prepend">
            <%= f.input :query, label: false, input_html: { class: "form-control1", placeholder: "Search Stadium" }, wrapper_html: { class: "search-form-control1" } %>
          </div>
          <div class="input-group-append">
            <button type="submit" class="btn btn-white">
              <i class="fas fa-search"></i> Search
            </button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="w-50 h-100">
    <div class="image">
      <img src="https://upload.wikimedia.org/wikipedia/commons/1/14/Le_White_City_Stadium_de_Londres%2C_pour_les_JO_de_1908.jpg" alt="White City Stadium" class="w-100 h-100" />
    </div>
  </div>
</div>


<div class="blackboxset">
  <div class="container1">
    <h6 class="where_am_I">Home > Stadium Near Me > <strong color="rgb(133, 150, 163)">Stadium</strong></h6>
    <div class="container2">
      <div class="howitworks">
        <h2><strong>How renting stadiums works on Rentsta</strong></h2>
        <p>Rentsta is the easiest way to book unique stadiums for unique events.</p>
      </div>
      <div class="container3">
        <div class="hrsw">
          <h2><strong>Unique Stadiums</strong></h2>
          <p>Every day we uncover new, creative places perfect for your plan</p>
          <p>from neighborhood arenas to world cup and Olympic stadiums</p>
        </div>
        <div></div>
        <div class="hprice">
          <h2><strong>Honest pricing</strong></h2>
          <p>Our spaces are priced to fit your budget.</p>
          <p>Hire by the hour for your event without worrying about hidden fees.</p>
        </div>
        <div></div>
        <div class="smoothb">
          <h2><strong>Smooth bookings</strong></h2>
          <p>No more messy contracts.</p>
          <p>We build the tools to make hiring out a space for your function.</p>
          <p>As easy as the click of a button.</p>
        </div>
      </div>
    </div>
  </div>
</div>
