.banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  padding: 0;
  color: rgb(0, 0, 0);
  overflow: hidden; /* Add this line to cut off the banner image */
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Add this line */
  // order: 2; /* Increase the order to move the text further down */
}

.banner p {
  font-size: 20px;
  color: rgb(0, 0, 0);
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner .image {
  display: flex;
  justify-content: flex-end; /* Uncomment this line to align the image to the right */
  align-items: center; /* Add this line */
}

.banner .image img {
  max-width: 100%; /* Ensure the image fits fully */
  height: auto;
}

.imagemain {
  height: 700px;
}

.image {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.image img {
  height: 100%;
  width: auto;
}

