.navbar-lewagon {
  justify-content: space-between;
  align-items: center;
  background: #658864;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  color: #ffffff;
}

h1 {
  font-family: $headers-font;
  font-weight: weight;
  font-style: normal;
  color: #ffffff;
}

.nav-item {
  color: white;
  display: flex;
}

.nav-link.login-link {
  color: #ffffff;
  font-weight: bold;
  font-family: $headers-font;
}

.nav-link.signup-link {
  color: #658864;
  background-color: #ffffff;
  border-radius: 0;
  border: none;
  margin-left: 1px;
  font-family: $headers-font;
  font-weight: bold;
}

.nav-links-container {
  display: flex;
  align-items: center;
}

.nav-link.login-link {
  margin-right: 10px;
}

.nav-link.signup-link {
  margin-left: px;
}

.nav-link.signup-link:hover {
  background-color: #DDDDDD;
}

.nav-link.login-link:hover {
  color: #DDDDDD;
}

.nav-link.addlisting-link:hover {
  color: #DDDDDD;
}

.nav-link.addlisting-link {
  color: #FFFFFF;
  font-family: $headers-font;
  font-weight: bold;
}

.search-form-control-2 {
  position: relative;
  z-index: 1; /* Add this line to ensure the search form appears below the navbar */
  height: 4px;
}

.search-form-control-2 .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
  color: #658864;
  border-radius: 15px;
}

.search-form-control-2 .form-control {
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.search-form-control-2 .form-control:focus {
  border: 1px solid #1EDD88;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}
.search-form-control {
  flex: 1; /* Add this line to make the search input field take up remaining space */
}

.search-form-control .btn {
  margin-left: 8px; /* Add this line to create some space between the input field and button */
}
.search-form-control .form-control {
  height: 2.5rem; /* Adjust the height as desired */
  background-color: #DDDDDD; /* Set the background color to #DDDDDD */
  border-color: #DDDDDD; /* Set the border color to #DDDDDD */
}

.search-form-control .form-control:focus {
  outline-color: #DDDDDD; /* Set the outline color to #DDDDDD */
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}
.search-form {
  margin-top: 12px; /* Adjust the margin-top value as desired */
}
